body, main {
    height: 100vh;
    margin: 0;
}

.masterCardDiv {
    width: 100vw;
    height: 50vh;
    background-color: rgb(163, 147, 94);
    position: relative;
}

.pointsCardRowDiv {
    height: 45%;
    width: 80%;
    position: relative;
    left: 19%;
    top: 3%;
}

.cardContainer {
    width: 12%;
    height: 99%;
    float: right;
    position: relative;
}

.card {
    background-color: aqua;
    width: 90%;
    height: 95%;
    top: 5%;
    left: 5%;
    position: absolute;
    text-align: center;
}

.merchantCardRowDiv {
    height: 45%;
    width: 80%;
    position: relative;
    left: 19%;
    top: 5%;
}

.pointCardBack {
    background-color: purple;
}

.merchantCardBack {
    background-color: yellow;
}

.playerArea {
    width: 100vw;
    height: 50vh;
    background-color: rgb(146, 144, 138);
    position: relative;
}

.cardContainerPlayer {
    width: 15%;
    height:100%;
    float: left;
    position: relative;
}

.availableCardsRowDiv {
    height: 45%;
    width: 60%;
    position: relative;
    display: inline-block;
    left: 1%;
    top: 0%;
    margin-top: 0.5%;
    margin-left: 0%;
}

.playerDiscardArea {
    height: 40%;
    width: 30%;
    position: relative;
    display: inline-block;
    left: 8.5%;
    top: 10%;
}

.discardArea {
    background-color: lightblue;
    width: 32.75%;
    height: 99%;
    position: relative;
    float: left;
    text-align: center;
    border: 1px solid black;

}

.playerStatsRow {
    height: 30%;
    width: 48%;
    position: relative;
    display: inline-block;
    top: 10%;
    left: 1%;
    margin-top: 2.5%;
    
}
.playerStatsRow.playerTwo{
    left: 2.5%;
}
/* .playerStatsRowPlayerTwo {
    border: solid 1px black;
    height: 30%;
    width: 48%;
    position: relative;
    display: inline-block;
    top: 10%;
    left:2%;
    margin-top: 2.5%;
} */
.statRowContainer{
    width: 16%;
    height: 100%;
    position: relative;
    float: left;
    text-align: center;
    font-size: 2vh;
}

.spice {
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    position: relative;
}
.yellow {
    background-color: grey;
}
.green {
    background-color: grey;
}
.red {
    background-color: grey;
}
.brown {
    background-color: yellow;
}
.victoryPoints{
    background-color: lightcoral;
}
.cardCount{
    background-color: lightsalmon;
}
.image {
    position: absolute;
    display: inline-block;
    height: 80%;
    width: 30%;
    top: 5%;
    left: 1%;
}